= form_for @user do |f|
  %br/
  = f.file_field :photo
  %br/
  = f.label I18n.t 'views.users.name'
  %br/
  = f.text_field :name
  %br/
  = f.label I18n.t 'views.users.first_name'
  %br/
  = f.text_field :first_name
  %br/
  = f.label I18n.t 'views.users.last_name'
  %br/
  = f.text_field :last_name
  %br/
  = f.label I18n.t 'views.users.city'
  %br/
  = f.text_field :city
  %br/
  = f.label I18n.t 'views.users.country'
  %br/
  = f.text_field :country
  %br/
  = f.label I18n.t 'views.users.description'
  %br/
  = f.text_field :description
  %br/
  %br/
  = f.submit I18n.t 'views.users.update'
