%br/
%br/
= image_tag @user.photo.url(:thumb)
%br/
%br/
= @user.name
%br/

- if signed_in?
  %br/
  = render 'follow_form'
  %br/
  = render 'stats'
%br/

- if @user == current_user
  = link_to I18n.t('views.users.edit_profile'), edit_user_path(@user)
  %br/
  %br/
  = render 'songs/upload'



