.container{:style => "background-color: #e9e9e9; min-height: 80%;"}
  .center_block
    .row
      .col-xs-9.col-md-6
        %br/
        = image_tag @user.photo.url(:medium)
        %br/
        %h3= @user.name
        - if signed_in?
          %h4.orange= @user.aasm_state
          = render 'follow_form'
          %br/
          = render 'stats'
          %br/
        - if @user == current_user
          %a.btn.btn-default{:href => edit_user_path(@user)}
            %span.glyphicon.glyphicon-pencil>
            = I18n.t('views.users.edit')
          %br/
          %br/

      .col-xs-9.col-md-6
        %br/
        - @playlists.each do |playlist|
          - if current_user?(playlist.user)
            = link_to playlist.name, playlist_path(playlist)
            - playlist.songs.each_with_index do |song, i|
              = render 'shared/player', :song_for_player => song
        = render 'songs/upload'




