%br/
%br/
= image_tag @user.photo.url(:thumb)
%br/
%br/
= @user.name
%br/
%br/
- if signed_in?
  = render 'follow_form'
  %br/
  = render 'users/stats'
%br/

= link_to 'Edit', edit_user_path(@user) if current_user == @user.id