%h2= I18n.t "views.songs.list"
%table
  %thead
    %th Title
    %th Artist
    %th Delete
    %th Play
  %tbody
    - @songs.each do |song|
      %tr
        %td= song.title
        %td= song.artist
        %td= link_to I18n.t 'global.delete', song_path(song), method: :delete, data: { confirm: I18n.t('global.are_sure') }
        %td
          .audio-player
            %h2= song.title
            %audio#audio-player{:controls => "controls", :src => asset_path("#{song.mfile.url}"), :type => "audio/mpeg"}