= form_for [:user, @playlist] do |f|
  = f.label  "Name"
  %br/
  = f.text_field :name
  %br/
  = f.label "Description"
  %br/
  = f.text_area :description
  %br/

  = f.submit I18n.t 'views.playlists.submit'