.container{:style => "background-color: #e9e9e9; min-height: 80%;"}
  .center_block
    %h2= I18n.t "views.playlists.lists"
    = will_paginate @playlists
    %br/
    %table{:cellspacing => '0', :width => '100%'}
      %thead
      %tbody
        - @playlists.each do |playlist|
          - if current_user?(playlist.user)
            %tr
              %td
                = image_tag("logo1.jpg", height: "80", width: "80", class: "img-circle")
                %br/
              %td
                %h3= link_to playlist.name, playlist_path(playlist)
                %br/
              %td
                = playlist.description
              %td
                %a.btn.btn-default{:href => edit_playlist_path(playlist)}
                  %span.glyphicon.glyphicon-pencil>
                  = I18n.t 'global.edit'
              %td
                %a.btn.btn-default{:href => playlist_path(playlist), method: :delete, data: { confirm: I18n.t('global.are_sure') }}
                  %span.glyphicon.glyphicon-trash
                  = I18n.t 'global.delete'
              %td
                %a.btn.btn-default{:href => add_song_playlists_path(:id => playlist, :song_id => @song)}
                  %span.glyphicon.glyphicon-plus
                  = I18n.t 'views.playlists.add'
    = will_paginate @playlists
