.container{:style => "background-color: #e9e9e9; height: 100%"}
  %table{:cellspacing => '0', :width => '50%'}
    %thead
      %th
        %h3= I18n.t "views.playlists.name"
      %th
        %h3= I18n.t "views.playlists.description"
    %tbody
      %tr
        %td= @playlist.name
        %td= @playlist.description
  %br/
  %h3= I18n.t "views.songs.list"
  %table{:cellspacing => '0', :width => '100%'}
    %thead
      %th= I18n.t "views.songs.title"
      %th= I18n.t "views.songs.play"
    %tbody
    - @playlist.songs.each do |song|
      %tr
        %td= image_tag("original.gif")
        %td= render 'shared/player', :song_for_player => song
        %td
          %h5= "#{song.title} - #{song.artist}"
        %td
        / %td
        /   %a.btn.btn-default{:href => song_path(song), method: :delete, data: { confirm: I18n.t('global.are_sure') }}
        /     %span.glyphicon.glyphicon-trash
        %td
          %a.btn.btn-default{:href => comments_songs_path(:id => song)}
            %span.glyphicon.glyphicon-check
            = I18n.t 'views.songs.comments'



